**/*.pyc
*.pyc
**/*.log
**.log
**.pyc
**.json
**.jsonl
**.env
**data/
**build/
**snapshots/
**storage/
*.log
**/*.json
*.json
**/*.jsonl
*.jsonl
**/*.env
*.env
data/
build/
snapshots/
storage/
test_csv_files/
test_files/
test_logs/
txt/
__pycache__/
**/__pycache__/
**/zig-out/
**/logs/
**/test/
**/test_folder/
**/state/
**/*.db
*.db
**/*.sql
*.sql
1
*.md
**.md
**.db
**.sql